@{
    Layout = "~/Views/Shered/_Layout.cshtml";
}

@section scripts
{
    <script src="scripts/PizzaCompose.js"></script>
}

<div class="container">

    <table id="ingredients_table_to_compose" class="table table-striped">
        <h3>KOMPOZYCJA PIZZY</h3>
        <p>Tutaj możesz stworzyć oraz dodać nową pizze do menu</p>
        <tr>
            <th></th>
            <th></th>
            <th><button id="add_new_pizza_to_menu">Dodaj nową pizzę do oferty</button></th>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th></th>
        </tr>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th></th>
        </tr>


    </table>

    <table id="added_ingredients">
        
    </table>



</div>



