@model dynamic

@{
    Layout = "../Shered/_Layout.cshtml";
}

    Nazwa:<br>
    <input type="text" name="ame" id="ingredient_name"><br>
    Cena:<br>
    <input type="text" name="price" id="ingredient_price">
    
        <button id="add_ingredient">Dodaj skladnik</button>



<table class="ingredients_table">

</table>