@model dynamic

@{
    Layout = "../Shered/_Layout.cshtml";
}
<form>
    Nazwa:<br>
    <input type="text" name="ame" id="ingredient_name"><br>
    Cena:<br>
    <input type="text" name="price" id="ingredient_price">
    
        <button onclick="addIngredient()">Dodaj skladnik</button>
   
</form>

<table id="äll_ingredients_table">
    
</table>