<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>PizzaOnline</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles/card_style.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>

    @RenderSection("scripts", required:false)



    <style>
        h1 {
            font-size: 400%;
        }
       
ul.myclass2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.myclass {
    float: left;
}

li.myclass a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.myclass a:hover {
    background-color: #111;
}
</style>
</head>
<body>



<div id="header" style="margin-top: 50px; text-align: center; width: auto; height: 70px;">
    <h1>PizzaOnline</h1>
</div>
<div style="margin-top: 70px;">
    <ul class="myclass2">
        <li class="myclass" style="margin-left: 100px;"><a href="http://localhost:5453/Ingredient/Index">Baza składników</a></li>
        <li class="myclass"><a href="http://localhost:5453/Pizza/Compose">Tworzenie pizzy</a></li>
        <li class="myclass"><a href="http://localhost:5453/Pizza/Index">Katalog pizz</a></li>
        <li class="myclass"><a href="http://localhost:5453/Order/Create">Zamów pizze</a></li>
        <li class="myclass"><a href="http://localhost:5453/Order/Index">Lista zamówień</a></li>
    </ul>
</div>
<br/>
<br/>
<div>
    @RenderBody()
</div>
</body>
</html>



