<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>PizzaOnline</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles/card_style.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>

    @RenderSection("scripts", required:false)



    <style>
        h1 {
            font-size: 400%;
        }
    </style>
</head>
<body>
<div id="header" align ="center">
    <h1>PizzaOnline</h1>
</div>

<div>
    @RenderBody()
</div>
</body>
</html>



