@{
    Layout = "~/Views/Shered/_Layout.cshtml";
}

@section scripts
{
    <script src="~/scripts/PizzaOrder.js"></script>
}

<div class="cart">
    <div class="cart-top">
        <h2 class="cart-top-title">Koszyk</h2>

    </div>


    <ul id="card_ul_id"></ul>
    <div class="cart-bottom">
        <div id="cart_sum">0.00</div>
        <a href="#" onclick="orderPizzas()" class="cart-button">Złóż zamówienie</a>
    </div>


</div>

<div class="leftdiv">
    <div>
        <table id="all_pizzas_table">
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th></th>
            </tr>


        </table>
    </div>
</div>