@{
    Layout = "~/Views/Shered/_Layout.cshtml";
}

@section scripts
{

    <script src="~/scripts/ListOrders.js"></script>
}

<div class="container">
   
        <table id="orders">
        </table>
</div>

