@{
    Layout = "~/Views/Shered/_Layout.cshtml";
}

@section scripts
{
    <script src="scripts/OrdersList.js"></script>
}

<table id="order_table" class="table table-striped">
    <h3>Lista zamówień</h3>
    <tr>
        <th>Zamówienie</th>
        <th>Adres</th>
        <th>Status</th>
    </tr>


</table>