@{
    Layout = "~/Views/Shered/_Layout.cshtml";
}

@section scripts
{

    <script src="~/scripts/PizzaOrder.js"></script>
}

<div class="container">
    <h3>BAZA ZAMÓWIEN</h3>
    <p>Tutaj znajdują się wszystkie zamówienia przechowywane w bazie:</p>

        <table id="orders">
        </table>
</div>

