@{
    Layout = "~/Views/Shered/_Layout.cshtml";
}

@section scripts
{
    <script src="~/scripts/Pizza.js"></script>
}


<div class="container">

        <h3>BAZA PIZZY</h3>
        <p>Tutaj znajdują się wszystkie pizze przechowywane w bazie:</p>

        <table id="pizzas"></table>
    </div>











