@{
    Layout = "~/Views/Shered/_Layout.cshtml";
}


@section scripts
{
    <script src="scripts/PizzaRemove.js"></script>
}


<div>
    <table id="all_pizzas_admin_table">
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th></th>
        </tr>


    </table>


</div>
